html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #b07c30;
}

body {
    font-family: serif;
    background: #fff;
    color: #222;
    height: 100%;
    margin: 0 5vw;
    box-shadow: 10px 0 5px black, -10px 0 5px black;
}

#header {
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

.grid-nav {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-nav-item img{
    width: 100%;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#navbar button {
    width: 100%;
    background: white;
    border: 2px solid #b07c30;
    height: 2em;
}

#navbar a {
    color: #0000ee;
    text-decoration: none;
    font-size: large;
}

#navbar a:visited {
    color: #551a85;
}

#navbar a:hover {
    color: #0066ee;
}

#main {
    margin: 0 5vw;
    font-size: 1.2em;
}

.main-item dt {
    border-bottom: 1px solid grey;
}

.main-item dd {
    margin-bottom: 1em;
}

section img {
    float: right;
    height: 250px;
    padding: 0px;
}

section .container {
    overflow: hidden;
}

section .container p:first-of-type {
    margin-top: 0;
}

.card-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 1fr;
    
}

.card {
    line-height: 1.3em;
    word-spacing: 0.2em;
    margin-bottom: 1em;
    background: #f0f0f0;
    border-radius: 20px;
    padding: 1em;
    box-shadow: -20px 0 #b07c30;
    margin: auto auto;
    width: 80%;
}

.card div {
    border-bottom: 1px solid #b07c30;
    margin-bottom: 1em;
}


.quote {
    height: 1.5em;
}

.contact {
    float: left;
    width: 50%;
}

.contact-form {
    padding-top: 10vh;
    padding-left: 10vw;
    float: left;

}

footer {
    margin: 0 2vw;
    font-size: larger;
    border-top: 2px solid #b07c30;
}

